@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open_sans_light/open-sans-light-webfont.eot');
    src: url('../fonts/open_sans_light/open-sans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans_light/open-sans-light-webfont.woff2') format('woff2'),
         url('../fonts/open_sans_light/open-sans-light-webfont.woff') format('woff'),
         url('../fonts/open_sans_light/open-sans-light-webfont.ttf') format('truetype'),
         url('../fonts/open_sans_light/open-sans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open_sans_light/opensans-lightitalic-webfont.eot');
    src: url('../fonts/open_sans_light/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans_light/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/open_sans_light/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/open_sans_light/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/open_sans_light/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/open_sans_extrabold/open-sans-extrabold-webfont.eot');
    src: url('../fonts/open_sans_extrabold/open-sans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans_extrabold/open-sans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/open_sans_extrabold/open-sans-extrabold-webfont.woff') format('woff'),
         url('../fonts/open_sans_extrabold/open-sans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/open_sans_extrabold/open-sans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/open_sans_extrabold/opensans-extrabolditalic-webfont.eot');
    src: local('☺'),
         url('../fonts/open_sans_extrabold/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans_extrabold/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/open_sans_extrabold/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/open_sans_extrabold/opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('../fonts/open_sans_extrabold/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'league_gothic';
    src: url('../fonts/league_gotic/leaguegothic-italic-webfont.eot');
    src: url('../fonts/league_gotic/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gotic/leaguegothic-italic-webfont.woff2') format('woff2'),
         url('../fonts/league_gotic/leaguegothic-italic-webfont.woff') format('woff'),
         url('../fonts/league_gotic/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('../fonts/league_gotic/leaguegothic-italic-webfont.svg#league_gothicitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'league_gothic';
    src: url('../fonts/league_gotic/leaguegothic-regular-webfont.eot');
    src: local('☺'),
        url('../fonts/league_gotic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gotic/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/league_gotic/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/league_gotic/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/league_gotic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}