.slider__link {
	display: block;
	background: url(../img/sprite_markers.png) no-repeat -3px -4px;
	width: 18px;
	height: 18px;
}
.slider__link:active {
	margin-top: 4px;
	margin-left: 4px;
	background: url('imgs/sprite_markers.png') no-repeat -7px -26px;
	width: 11px;
	height: 11px;
}

.blogs__item:before {
	position: absolute;
	content: " ";
	left: -65px;
	top: 2px;
	width: 47px;
	height: 47px;
	background: url(../img/ul_marker.png) no-repeat -2px -2px;
	box-shadow: 2px 2px 0px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.4);
	border-radius: 50%;
	-ms-behavior: url(../pie/PIE.htc);
}
.slider__link--referens {
	display: block;
	background: url(../img/sprite_markers.png) no-repeat -7px -26px;
	width: 11px;
	height: 11px;
}
.slider__link--referens:active {
	margin-top: 2px;
	margin-left: 2px;
	background: url(../img/sprite_markers.png) no-repeat -7px -42px;
	width: 12px;
	height: 13px;
}

/*---------960px---------*/
@media (min-width: 960px)  {
	.blurbs__title--first:before {
		content: " ";
		position: absolute;
		top: 9px;
		left: -55px;
		width: 30px;
		height: 31px;
		background-image: url(../img/icons.png);
		background-repeat:  no-repeat;
		background-position:  -89px 0px;
	}
	.blurbs__title--second:before {
		content: " ";
		position: absolute;
		top: 13px;
		left: -56px;
		width: 33px;
		height: 28px;
		background-image: url(../img/icons.png);
		background-repeat:  no-repeat;
		background-position:  -131px 0px;
	}
	.blurbs__title--third:before {
		content: " ";
		position: absolute;
		top: 12px;
		left: -54px;
		width: 29px;
		height: 29px;
		background-image: url(../img/icons.png);
		background-repeat:  no-repeat;
		background-position:  -174px 0px;
	}
}

/*---------768px------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 959px) {
	.blurbs__title:before {
		content: " ";
		position: absolute;
		width:  31px;
		height: 31px;
		background-image: url(../img/icons.png);
		background-repeat:  no-repeat;
		background-position:  -89px 0px;
	}
}

/*---------480px---------------------------------------------*/
@media screen and (min-width: 480px) and (max-width: 767px) {
	.blurbs__title:before {
		content: " ";
		position: absolute;
		width:  31px;
		height: 31px;
		background-image: url(../img/icons.png);
		background-repeat:  no-repeat;
		background-position:  -89px 0px;
	}
}
/*---------320px--------------------------------------------------*/
@media screen and (max-width: 479px) {
	.blurbs__title:before {
		content: " ";
		position: absolute;
		width:  31px;
		height: 31px;
		background-image: url(../img/icons.png);
		background-repeat:  no-repeat;
		background-position:  -89px 0px;
	}
}